@charset "UTF-8";
@font-face {
  font-family: "cassannet_bold";
  src: url("../fonts/cassannet_bold-webfont.eot");
  src: url("../fonts/cassannet_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cassannet_bold-webfont.woff2") format("woff2"), url("../fonts/cassannet_bold-webfont.woff") format("woff"), url("../fonts/cassannet_bold-webfont.ttf") format("truetype"), url("../fonts/cassannet_bold-webfont.svg#cassannet_boldbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dinmedium";
  src: url("../fonts/din-medium-webfont.eot");
  src: url("../fonts/din-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/din-medium-webfont.woff2") format("woff2"), url("../fonts/din-medium-webfont.woff") format("woff"), url("../fonts/din-medium-webfont.ttf") format("truetype"), url("../fonts/din-medium-webfont.svg#dinmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoregular";
  src: url("../fonts/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewayblack";
  src: url("../fonts/raleway-black-webfont.eot");
  src: url("../fonts/raleway-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-black-webfont.woff2") format("woff2"), url("../fonts/raleway-black-webfont.woff") format("woff"), url("../fonts/raleway-black-webfont.ttf") format("truetype"), url("../fonts/raleway-black-webfont.svg#ralewayblack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewaybold";
  src: url("../fonts/raleway-bold-webfont.eot");
  src: url("../fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold-webfont.woff2") format("woff2"), url("../fonts/raleway-bold-webfont.woff") format("woff"), url("../fonts/raleway-bold-webfont.ttf") format("truetype"), url("../fonts/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewayregular";
  src: url("../fonts/raleway-regular-webfont.eot");
  src: url("../fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff"), url("../fonts/raleway-regular-webfont.ttf") format("truetype"), url("../fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts//icomoon.eot?dldb0n");
  src: url("../fonts//icomoon.eot?dldb0n#iefix") format("embedded-opentype"), url("../fonts//icomoon.ttf?dldb0n") format("truetype"), url("../fonts//icomoon.woff?dldb0n") format("woff"), url("../fonts//icomoon.svg?dldb0n#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .icon-left:before {
  content: "";
  color: #b0b0b5;
} */

.icon-maquillaje .path1:before {
  content: "";
  color: #60b8d6;
}

.icon-maquillaje .path2:before {
  content: "";
  margin-left: -1.02734375em;
  color: #3996c4;
}

.icon-maquillaje .path3:before {
  content: "";
  margin-left: -1.02734375em;
  color: #d32120;
}

.icon-maquillaje .path4:before {
  content: "";
  margin-left: -1.02734375em;
  color: #ec3232;
}

.icon-maquillaje .path5:before {
  content: "";
  margin-left: -1.02734375em;
  color: #d3d2d1;
}

.icon-maquillaje .path6:before {
  content: "";
  margin-left: -1.02734375em;
  color: #c9c7c5;
}

.icon-maquillaje .path7:before {
  content: "";
  margin-left: -1.02734375em;
  color: #f4f3f2;
}

.icon-maquillaje .path8:before {
  content: "";
  margin-left: -1.02734375em;
  color: #d32120;
}

.icon-maquillaje .path9:before {
  content: "";
  margin-left: -1.02734375em;
  color: #b5b3b1;
}

.icon-maquillaje .path10:before {
  content: "";
  margin-left: -1.02734375em;
  color: #c9c7c5;
}

.icon-maquillaje .path11:before {
  content: "";
  margin-left: -1.02734375em;
  color: #ec3232;
}

.icon-perfumes .path1:before {
  content: "";
  color: #f87024;
}

.icon-perfumes .path2:before {
  content: "";
  margin-left: -1.01953125em;
  color: #ea501b;
}

.icon-perfumes .path3:before {
  content: "";
  margin-left: -1.01953125em;
  color: #fcfcfc;
}

.icon-perfumes .path4:before {
  content: "";
  margin-left: -1.01953125em;
  color: #e5e2df;
}

.icon-perfumes .path5:before {
  content: "";
  margin-left: -1.01953125em;
  color: #98d5e1;
}

.icon-perfumes .path6:before {
  content: "";
  margin-left: -1.01953125em;
  color: #7ecade;
}

.icon-perfumes .path7:before {
  content: "";
  margin-left: -1.01953125em;
  color: #fac81f;
}

.icon-perfumes .path8:before {
  content: "";
  margin-left: -1.01953125em;
  color: #f8a216;
}

.icon-plata .path1:before {
  content: "";
  color: #f87024;
}

.icon-plata .path2:before {
  content: "";
  margin-left: -1.01953125em;
  color: #ea501b;
}

.icon-plata .path3:before {
  content: "";
  margin-left: -1.01953125em;
  color: silver;
}

.icon-plata .path4:before {
  content: "";
  margin-left: -1.01953125em;
  color: silver;
}

.icon-plata .path5:before {
  content: "";
  margin-left: -1.01953125em;
  color: silver;
}

.icon-plata .path6:before {
  content: "";
  margin-left: -1.01953125em;
  color: #fbfafa;
}

.icon-plata .path7:before {
  content: "";
  margin-left: -1.01953125em;
  color: #f1f1f1;
}

.icon-plata .path8:before {
  content: "";
  margin-left: -1.01953125em;
  color: #f1f1f1;
}

.icon-plata .path9:before {
  content: "";
  margin-left: -1.01953125em;
  color: #f1f1f1;
}

.icon-plata .path10:before {
  content: "";
  margin-left: -1.01953125em;
  color: #223c4f;
}

.icon-regalo .path1:before {
  content: "";
  color: #fac81f;
}

.icon-regalo .path2:before {
  content: "";
  margin-left: -1.02734375em;
  color: #f8a216;
}

.icon-regalo .path3:before {
  content: "";
  margin-left: -1.02734375em;
  color: #60b8d6;
}

.icon-regalo .path4:before {
  content: "";
  margin-left: -1.02734375em;
  color: #3996c4;
}

.icon-regalo .path5:before {
  content: "";
  margin-left: -1.02734375em;
  color: #27a9cc;
}

.icon-regalo .path6:before {
  content: "";
  margin-left: -1.02734375em;
  color: #289ebc;
}

.icon-regalo .path7:before {
  content: "";
  margin-left: -1.02734375em;
  color: #60b8d6;
}

.icon-regalo .path8:before {
  content: "";
  margin-left: -1.02734375em;
  color: #2993b8;
}

.icon-regalo .path9:before {
  content: "";
  margin-left: -1.02734375em;
  color: #3996c4;
}

.icon-regalo .path10:before {
  content: "";
  margin-left: -1.02734375em;
  color: #1e758c;
}

.icon-regalo .path11:before {
  content: "";
  margin-left: -1.02734375em;
  color: #ec3232;
}

.icon-regalo .path12:before {
  content: "";
  margin-left: -1.02734375em;
  color: #ec3232;
}

.icon-regalo .path13:before {
  content: "";
  margin-left: -1.02734375em;
  color: #c41b1e;
}

.icon-regalo .path14:before {
  content: "";
  margin-left: -1.02734375em;
  color: #c41b1e;
}

.icon-regalo .path15:before {
  content: "";
  margin-left: -1.02734375em;
  color: #ec3232;
}

.icon-regalo .path16:before {
  content: "";
  margin-left: -1.02734375em;
  color: #ec3232;
}

.icon-regalo .path17:before {
  content: "";
  margin-left: -1.02734375em;
  color: #c41b1e;
}

.icon-regalo .path18:before {
  content: "";
  margin-left: -1.02734375em;
  color: #c41b1e;
}

.icon-right:before {
  content: "";
  color: #b0b0b5;
}

.icon-ropa .path1:before {
  content: "";
  color: #ec3232;
}

.icon-ropa .path2:before {
  content: "";
  margin-left: -1.01953125em;
  color: #c41b1e;
}

.icon-ropa .path3:before {
  content: "";
  margin-left: -1.01953125em;
  color: #f9f9f9;
}

.icon-ropa .path4:before {
  content: "";
  margin-left: -1.01953125em;
  color: #f8a216;
}

.icon-ropa .path5:before {
  content: "";
  margin-left: -1.01953125em;
  color: #fac81f;
}

.icon-ropa .path6:before {
  content: "";
  margin-left: -1.01953125em;
  color: #f8a216;
}

.icon-search .path1:before {
  content: "";
  color: white;
}

.icon-search .path2:before {
  content: "";
  margin-left: -0.9375em;
  color: #353635;
}

.icon-search .path3:before {
  content: "";
  margin-left: -0.9375em;
  color: #353635;
}

.icon-search .path4:before {
  content: "";
  margin-left: -0.9375em;
  color: white;
}

.icon-supermercado .path1:before {
  content: "";
  color: #60b8d6;
}

.icon-supermercado .path2:before {
  content: "";
  margin-left: -1.01953125em;
  color: #3996c4;
}

.icon-supermercado .path3:before {
  content: "";
  margin-left: -1.01953125em;
  color: #f8a216;
}

.icon-supermercado .path4:before {
  content: "";
  margin-left: -1.01953125em;
  color: #fac81f;
}

.icon-supermercado .path5:before {
  content: "";
  margin-left: -1.01953125em;
  color: #3996c4;
}

.icon-supermercado .path6:before {
  content: "";
  margin-left: -1.01953125em;
  color: #3996c4;
}

.icon-supermercado .path7:before {
  content: "";
  margin-left: -1.01953125em;
  color: #3996c4;
}

.icon-supermercado .path8:before {
  content: "";
  margin-left: -1.01953125em;
  color: #3996c4;
}

.icon-supermercado .path9:before {
  content: "";
  margin-left: -1.01953125em;
  color: #3996c4;
}

.icon-supermercado .path10:before {
  content: "";
  margin-left: -1.01953125em;
  color: #3996c4;
}

.icon-supermercado .path11:before {
  content: "";
  margin-left: -1.01953125em;
  color: #3996c4;
}

.icon-supermercado .path12:before {
  content: "";
  margin-left: -1.01953125em;
  color: #3996c4;
}

.icon-supermercado .path13:before {
  content: "";
  margin-left: -1.01953125em;
  color: #3996c4;
}

.icon-supermercado .path14:before {
  content: "";
  margin-left: -1.01953125em;
  color: #d39125;
}

.icon-supermercado .path15:before {
  content: "";
  margin-left: -1.01953125em;
  color: #223c4f;
}

.icon-supermercado .path16:before {
  content: "";
  margin-left: -1.01953125em;
  color: #d39125;
}

.icon-supermercado .path17:before {
  content: "";
  margin-left: -1.01953125em;
  color: #223c4f;
}

.icon-tarjetas .path1:before {
  content: "";
  color: #ec3232;
}

.icon-tarjetas .path2:before {
  content: "";
  margin-left: -1.02734375em;
  color: #c41b1e;
}

.icon-tarjetas .path3:before {
  content: "";
  margin-left: -1.02734375em;
  color: #19758f;
}

.icon-tarjetas .path4:before {
  content: "";
  margin-left: -1.02734375em;
  color: #1e8ba3;
}

.icon-tarjetas .path5:before {
  content: "";
  margin-left: -1.02734375em;
  color: #e2e5e7;
}

.icon-tarjetas .path6:before {
  content: "";
  margin-left: -1.02734375em;
  color: #3996c4;
}

.icon-tarjetas .path7:before {
  content: "";
  margin-left: -1.02734375em;
  color: #60b8d6;
}

.icon-tarjetas .path8:before {
  content: "";
  margin-left: -1.02734375em;
  color: #e2e5e7;
}

.icon-tarjetas .path9:before {
  content: "";
  margin-left: -1.02734375em;
  color: #e2e5e7;
}

.icon-tarjetas .path10:before {
  content: "";
  margin-left: -1.02734375em;
  color: #e2e5e7;
}

.icon-tarjetas .path11:before {
  content: "";
  margin-left: -1.02734375em;
  color: #e2e5e7;
}

.icon-tarjetas .path12:before {
  content: "";
  margin-left: -1.02734375em;
  color: #e2e5e7;
}

.icon-tarjetas .path13:before {
  content: "";
  margin-left: -1.02734375em;
  color: #e2e5e7;
}

.icon-tarjetas .path14:before {
  content: "";
  margin-left: -1.02734375em;
  color: #e2e5e7;
}

.icon-tarjetas .path15:before {
  content: "";
  margin-left: -1.02734375em;
  color: #fac81f;
}

.icon-twitter .path1:before {
  content: "";
  color: #bf0b27;
}

.icon-twitter .path2:before {
  content: "";
  margin-left: -1em;
  color: white;
}

.icon-zapatos .path1:before {
  content: "";
  color: #60b8d6;
}

.icon-zapatos .path2:before {
  content: "";
  margin-left: -1.02734375em;
  color: #3996c4;
}

.icon-zapatos .path3:before {
  content: "";
  margin-left: -1.02734375em;
  color: #f8a216;
}

.icon-zapatos .path4:before {
  content: "";
  margin-left: -1.02734375em;
  color: #fac81f;
}

.icon-canasta .path1:before {
  content: "";
  color: #fac81f;
}

.icon-canasta .path2:before {
  content: "";
  margin-left: -1.02734375em;
  color: #f8a216;
}

.icon-canasta .path3:before {
  content: "";
  margin-left: -1.02734375em;
  color: #223c4f;
}

.icon-canasta .path4:before {
  content: "";
  margin-left: -1.02734375em;
  color: #223c4f;
}

.icon-canasta .path5:before {
  content: "";
  margin-left: -1.02734375em;
  color: #223c4f;
}

.icon-canasta .path6:before {
  content: "";
  margin-left: -1.02734375em;
  color: #223c4f;
}

.icon-canasta .path7:before {
  content: "";
  margin-left: -1.02734375em;
  color: #223c4f;
}

.icon-canasta .path8:before {
  content: "";
  margin-left: -1.02734375em;
  color: #223c4f;
}

.icon-canasta .path9:before {
  content: "";
  margin-left: -1.02734375em;
  color: #223c4f;
}

.icon-canasta .path10:before {
  content: "";
  margin-left: -1.02734375em;
  color: #223c4f;
}

.icon-canasta .path11:before {
  content: "";
  margin-left: -1.02734375em;
  color: #ec3232;
}

.icon-canasta .path12:before {
  content: "";
  margin-left: -1.02734375em;
  color: #223c4f;
}

.icon-canasta .path13:before {
  content: "";
  margin-left: -1.02734375em;
  color: #ec3232;
}

.icon-canasta .path14:before {
  content: "";
  margin-left: -1.02734375em;
  color: #223c4f;
}

.icon-canasta .path15:before {
  content: "";
  margin-left: -1.02734375em;
  color: #ec3232;
}

.icon-canasta .path16:before {
  content: "";
  margin-left: -1.02734375em;
  color: #ec3232;
}

.icon-cartera .path1:before {
  content: "";
  color: #fac81f;
}

.icon-cartera .path2:before {
  content: "";
  margin-left: -1.02734375em;
  color: #f8a216;
}

.icon-cartera .path3:before {
  content: "";
  margin-left: -1.02734375em;
  color: #39983d;
}

.icon-cartera .path4:before {
  content: "";
  margin-left: -1.02734375em;
  color: #417543;
}

.icon-cartera .path5:before {
  content: "";
  margin-left: -1.02734375em;
  color: #39983d;
}

.icon-cartera .path6:before {
  content: "";
  margin-left: -1.02734375em;
  color: #417543;
}

.icon-cartera .path7:before {
  content: "";
  margin-left: -1.02734375em;
  color: #223c4f;
}

.icon-cartera .path8:before {
  content: "";
  margin-left: -1.02734375em;
  color: #ec3232;
}

.icon-cartera .path9:before {
  content: "";
  margin-left: -1.02734375em;
  color: #223c4f;
}

.icon-cartera .path10:before {
  content: "";
  margin-left: -1.02734375em;
  color: #cc3e4f;
}

.icon-cartera .path11:before {
  content: "";
  margin-left: -1.02734375em;
  color: #fac81f;
}

.icon-facebook .path1:before {
  content: "";
  color: #bf0b27;
}

.icon-facebook .path2:before {
  content: "";
  margin-left: -1em;
  color: white;
}

.icon-instagram .path1:before {
  content: "";
  color: #bf0b27;
}

.icon-instagram .path2:before {
  content: "";
  margin-left: -1em;
  color: white;
}