/* Service card container */

.services-card_container {
    margin-bottom: 50px;
}

.services-card_item {
    margin: 20px 0;
}

/* Mediqueries */
@media (min-width: 992px) {
    .services-card_container.services-card--cols2,
    .services-card_container.services-card--cols3 {
        display: flex;
        flex-wrap: wrap;
        margin-left: -14px;
        margin-right: -14px;
    }
    .services-card_container.services-card--cols3 .services-card_item,
    .services-card_container.services-card--cols2 .services-card_item {
        flex-basis: calc(50% - 28px);
        margin: 0 14px 28px;
    }
}

@media (min-width: 1200px) {
    .services-card_container {
        margin-bottom: 80px;
    }
    .services-card_container.services-card--cols3 .services-card_item {
        flex-basis: calc((100% / 3) - 28px);
    }
}